html, body {
    /* height: 100%; */
    min-height: 320px;
    min-width: 480px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#start-container {
    margin-top: 20vh;
}

#start-game {
    padding: 15px 30px;
    font-size: 20px;
}

#game-container {
    aspect-ratio: 3 / 2;           
    width: calc(100vw - 4vw);       /* Width that accounts for the margin */
    height: calc((100vw - 4vw) / (16 / 9)); /* Calculate height from width with 16:9 ratio */
    max-width: 100%;                /* Do not exceed viewport width */
    max-height: 96vh;               /* Do not exceed available height */
    position: relative;
    margin: 2vh 2vw;                /* Margin around the container */
    overflow: hidden;
    border: 6px solid rgb(174, 255, 137);
    background-color: darkslateblue;
}

*, *::before, *::after {
    box-sizing: border-box;
}


#board {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 20% 40%;
    width: auto;
    height: 100%;
    position: relative;
    /* justify-self: center; */
    border-color: rgb(77, 49, 12);
    border-width: 6px 4px 6px 4px;
    border-style: solid;
    background-color: lightgray;
    overflow: hidden;
}


.card-slot {
    aspect-ratio: 63 / 88;
    display:grid;              /* Flexbox for easy centering */
    justify-content: center;    /* Center the content horizontally */
    align-items: center;        /* Center the content vertically */
    border: 1px dashed blue;    /* Dashed border for visualization */
    background-color: lightgray;/* Background color for visibility */
    box-sizing: border-box;     /* Include border/padding in the element's width and height */
    transition: transform 0.3s ease; /* Optional: Add a smooth transition for effects */
}

/* Add a hover effect (optional) to show that the card slot is interactable */
.card-slot:hover {
    transform: scale(1.10);     /* Slightly scale up the card on hover */
    border-color: green;        /* Change border color when hovering */
}

/* .card-slot.clicked {
    transform: scale(2.10);     /* Slightly scale up the card on hover
} */

.opponent-area {
    grid-column: 1;
    grid-row: 1;
    background-color: darkorange;
    transform: scale(-1, 1);  /* Flips the element horizontally to create a mirror image */
    /* margin: 5% 2.5%; */
}

.opponent-area h2 {
    transform: scale(-1, 1);
}

.opponent-area .right-play-area, .opponent-area .left-play-area, .opponent-area .center-play-area {
    transform: scale(1,-1);
}

#center-area {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    position: relative;
    align-self: stretch;
    background-color: indigo;
}

.player-area {
    grid-column: 1;
    grid-row: 3;
    background-color: white;
}

/* Play-area styling (common for opponent/player) */
.play-area {
    display: grid;
    grid-template-columns: 25% 50% 25%;   /* Layout for the inside areas (left, center, right) */
    width: 100%;
    height: 100%;
    position: relative;
    align-self: stretch;
    background-color: rgba(0, 0, 255, 0.2);
}

.left-play-area {
    display: grid;
    grid-column: 1;
    width: 100%;
    height: 100%;
    align-self: stretch;
    position: relative;
    background-color: rgba(0, 0, 255, 0.2);
}

.prize-area {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: repeat(16, 1fr);
    top: 1%;
    position: relative;
    justify-self: center;
    /* align-items: stretch; */
    background-color: rgba(0, 0, 255, 0.2);
}

.prize-area .card-slot {
    width: auto;
    height: auto;
    position: relative;
    justify-self: center;
    border: 1px dotted green;
    box-sizing: border-box;
}

.prize-area .card-slot:nth-child(even) {
    justify-self: left;
    grid-column: 3;
}

.prize-area .card-slot.card-slot:nth-child(odd) {
    justify-self: right;
    grid-column: 1;
}

.prize-area .card-slot:nth-child(1) {
    grid-row: 1 / span 4;
}

.prize-area .card-slot:nth-child(2) {
    grid-row: 3 / span 4;
}

.prize-area .card-slot:nth-child(3) {
    grid-row: 6 / span 4;
}

.prize-area .card-slot:nth-child(4) {
    grid-row: 8 / span 4;
}

.prize-area .card-slot:nth-child(5) {
    grid-row: 11 / span 4;
}

.prize-area .card-slot:nth-child(6) {
    grid-row: 13 / span 4;
}

.center-play-area {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: auto;
    position: relative;
    /* top: 1%; */
    justify-self: center;
    justify-items: center;
    grid-column: 2;
    grid-row: 1;
    background-color: rgba(255, 0, 0, 0.2);
}

.active-area {
    grid-column: 3;
    grid-row: 1 / span 2;
    width: 100%;
    height: auto;
    position: relative;
    align-self: stretch;
    justify-items: center;
    padding: 1%;
    top: 3%;
    border: 1px ridge yellow;
}

.bench-area {
    grid-column: 1 / span 5;
    grid-row: 1 / span 4;
    display: grid;
    grid-template-columns: 1fr repeat(5, 5fr) 1fr; /* Five equal columns for card slots */
    /* grid-template-rows: 1fr repeat(4, 1fr) 1fr; */
    gap: 1%;
    width: 98%;
    /* top: 10%; */
    height: auto;
    position: relative;
    align-self: stretch;
    justify-items: center;
    padding: 1%;
    border: 1px ridge red;
}

.active-area .card-slot {
    width: 66%;
    height: 88%;
}

.bench-area .card-slot {
    width: auto;
    height: 85%;
}

.bench-area .card-slot:nth-child(1) {
    grid-column: 2;
    grid-row: 3 / span 2;
}

.bench-area .card-slot:nth-child(2) {
    grid-column: 3;
    grid-row: 4 / span 2;
}

.bench-area .card-slot:nth-child(3) {
    grid-column: 4;
    grid-row: 5 / span 2;
}

.bench-area .card-slot:nth-child(4) {
    grid-column: 5;
    grid-row: 4 / span 2;
}

.bench-area .card-slot:nth-child(5) {
    grid-column: 6;
    grid-row: 3 / span 2;
}



.right-play-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 3;
    grid-row: 1;
    width: 100%;
    height: auto;
    /* position: relative; */
    justify-items: center;
    /* align-items: center; */
    background-color: rgba(0, 255, 0, 0.2);
}

.discard-area, .deck-area {
    display: grid;
    aspect-ratio: 66 / 88;
    width: auto;
    height: 80%;
    justify-items: center;
    /* align-items: center; */
    /* position: relative; */
    box-sizing: border-box;
}

.discard-area {

    grid-column: 1;
    grid-row: 1;
    /* left: 30%; */
    /* top: 2%; */

    border: 1px dashed orchid;
}

.deck-area {
    grid-column: 1;
    grid-row: 2;
    /* left: 30%; */
    /* top: 2%; */
    border: 1px ridge darkolivegreen;
}

.discard-pile {
    rotate: 90deg;
}

.discard-pile,
.deck {
    aspect-ratio: 66 / 88;
    width: auto;
    height: 90%;
    position: relative;
    /* justify-self: center; */
    align-self: center;
    box-sizing: border-box;
    background-color: grey;
}

.card-container.empty-slot {
    border: 1px dashed #aaa;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

.card-container.occupied-slot {
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
    background-color: #fff3e6;
}

/* .card {
    width: 100px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: white;
    border: 1px solid #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
} */
